---
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/ru/#what" />
    <link rel="canonical" href="/ru/#what" />
    <title>Redirect</title>
  </head>
  <body>
    <p><a href="/ru/#what">Continue</a></p>
  </body>
</html>
